  /* styles.css */

/* Reset default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    padding: 20px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.hero {
    text-align: center;
    margin-bottom: 40px;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #333;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #777;
}

.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 18px;
}

.product {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 4px;
    background-color: #e3e6e6;
}

.product img {
    width: 100%;
    max-width: 200px;
    height: 150px;
    margin-bottom: 10px;

}

.product h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.product p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #777;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
